<a class="sr-only sr-only-focusable" href="#content">Skip to main content</a>

<navbar id="top" class="bs-docs-nav" title="Bootstrap" title-href="#/" center="true">
    <navbar-list side="left">
        <list-item as-href="#/getting-started">Getting started</list-item>
        <list-item as-href="#/css">CSS</list-item>
        <list-item as-href="#/components">Components</list-item>
        <list-item as-href="#/javascript">JavaScript</list-item>
        <list-item as-href="#/customize">Customize</list-item>
    </navbar-list>
    <navbar-list side="right">
        <list-item as-href="http://expo.getbootstrap.com">Expo</list-item>
        <list-item as-href="http://blog.getbootstrap.com">Blog</list-item>
    </navbar-list>
</navbar>